# Python packaging
*.egg-info/
build/
dist/

# Python cache
__pycache__/
*.pyc


# macOS
.DS_Store

src/exopipe/crosscorrelation.py
src/exopipe/reduction.py
src/exopipe/sysrem.py
src/exopipe/sandbox/

src/exopipe/cli/sysremData.py
src/exopipe/cli/correlateModel.py
src/exopipe/cli/correlateModel_iterations.py
src/exopipe/cli/injectAndCorrelateData.py

retrieval/results/

*.h5
*.hdf5
.DS_Store
